{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {lager, "1.2.0", {git, "git://github.com/basho/lager.git", {tag, "1.2.0"}}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "HEAD"}}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "HEAD"}}},
        {espotify, ".*", {git, "git://github.com/arjan/espotify.git", {tag, "HEAD"}}}
       ]}.
{eunit_opts, [verbose]}.
